{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Tasks list</h1>#}

    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Description</th>#}
                {#<th>Done</th>#}
                {#<th>Duedate</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for task in tasks %}#}
            {#<tr>#}
                {#<td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>#}
                {#<td>{{ task.name }}</td>#}
                {#<td>{{ task.description }}</td>#}
                {#<td>{% if task.done %}Yes{% else %}No{% endif %}</td>#}
                {#<td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('task_show', { 'id': task.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('task_new') }}">Create a new task</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Name</th>
            <th>Description</th>
            <th>Done</th>
            <th>Duedate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.user }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show Task</a>
                        </li>
                        <li>
                            {% if task.done %}
                                <a>edit Task</a>
                            {% else %}
                                <a href="{{ path('task_edit', { 'id': task.id }) }}">edit Task</a>
                            {% endif %}

                        </li>
                        <li>
                            <a href="{{ path('category_index') }}">To the Category list</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">To the Users list</a>
                        </li>
                        <li>
                            <a href="{{ path('task_index') }}">To the Task list</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>

    </ul>
{% endblock %}
